[Desktop Entry]
Version=1.1
Name=mpv media player
GenericName=Multimedia player
Comment=Play movies and songs
Exec=/usr/bin/mpv --player-operation-mode=pseudo-gui -- %U
TryExec=/usr/bin/mpv
Icon=mpv
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;Player;TV;
MimeType={% for type in mpv.mimetypes %}{{ type + ';' }}{% endfor %}
